body {
    background-image: url(file:///android_asset/img/background.svg) !important;
    margin: 0;
    text-align: center !important;
    background: white;
    font-family: 'Rubik', sans-serif;
}
.wrp{
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 75px;
    background:beige;
    margin-inline: 10px;
    border-radius: 10px;
    justify-content: centre;
    margin: 10px;
}
a{
    text-decoration: none !important;
    color: black !important;
}
.dash{
  justify-content: center;
  background: #fff;
  width: auto;
  margin: 10px;
  display: -webkit-box;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 2px 25px #9aa7e2;
  transition: 0.8s;
}
.dash:hover{
  transition: 0.8s;
  transform: scale(1.02);
  box-shadow: 2px 2px 25px #9aa7e2;
}
  .dash h1 {
    text-align: center;
    padding: 10px;
    font-weight: 300;
  }
  .dash .content {
    padding: 35px;
  }
  button{
      min-width: 175px !important;
      margin: 5px auto !important;
      font: 2em;
      text-decoration: none;
      color: black;
      border: 1px, solid #1234d0;
      padding: 12px 34px;
      position: relative;
      cursor: pointer;
      border-radius: 8px;
      border: none;
  }
  button:hover{
      border: 1px solid #1234d0;
      background: #1234d0;
      font-weight: 1000;
      border-radius: 15px;
  }
  button:hover a{
      color: white !important;
  }
  .action{
      text-align: center;
      padding: 5px;
  }
  .show{
    min-width: 320px;
    margin: 10px;
    text-align:center;
    font-size:1.5em;
    background: beige !important;
    border-radius: 10px;
  }
  h1 .logo{
    width: 35px;
    margin-right: 10px;
  }